/* setting up font of the full website  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared css styles  */
.main > section{
    margin-top: 130px ;
}
.display-flex{
    display: flex;
}
/* background colors  */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* all colors  */
.dark-01{
    color: #131313;
}
.dark-02{
    color: rgba(66, 66, 66, 1);
}

.dark-03{
    color: #727272;
}
/* button styles  */
.btn-primary{
    padding: 20px 25px ;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav css start  */
.navbar{
    justify-content: space-between;
    align-items: center ;
}
.link-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}
.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-size: 2.9rem;
    font-size: bold;
}
/* banner css start  */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    max-width: 850px;
    margin: 0 auto;
}
.banner-description {
    font-size: 1rem;
    max-width: 860px;
    margin: 10px auto 0px auto;
}

.btn-primary{
    margin-top: 30px;
}

.banner-image{
    max-width: 100%;
}
/* banner code end here  */
/* team and features css code start herw  */
.teams{
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}
#quick-list{
    font-size: 2.9rem;
    font-weight: 500;
}

.our{
    font-size: 2.9rem;
    font-weight: bold;
    margin-left: 5px;
}
.ftext{
    font-size: 2.9rem;
    font-weight: bold;
    color: #FF900E;
}
.feature-description{
    font-size: 1rem;
    line-height: 1.5rem;
}

/* facts css start here  */
.facts-description{
    max-width: 540px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.fact-number{
    font-size: 2.9rem;
    font-weight: bold;
    margin: 10px 0;
}

.fact-name{
    font-size: 1.15rem;
    margin: 15px 0;
}

/* sponser css start  */
.sponser-info{
    text-align: center;
    max-width: 540px;
    margin: auto;
}
.sponser-title{
    margin-bottom: 30px;
}
.sponser-description{
    font-size: 1rem;
    margin:20px auto;
}

.sponser-companier{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponser-companier img{
    filter: grayscale(100%);
}

/* feature we will love section css start here  */

#features-m-title{
    border-left: 5px solid #FF900E;
    padding-left: 25px;
}
.feature-title{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4 30 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.features{
    display: flex;
    gap: 146px;
}
#ex-badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}
#ex-year{
    font-size: 4rem;
    font-weight: bold;
}
#ex-text{
    font-size: 1.5rem;
    font-weight: 500;
}

.f-image{
    width: 100%;
}
/* RESPONSIVE CSS STYLE PARTS START FROM HERE  */

@media screen and (max-width:576px){
    .navbar, .nav-links{
        flex-direction: column;
        
    }

    .teams{
        flex-direction: column;
    }

    .team-image-container{
        grid-template-columns: 1fr;
    }

    .our-features{
        margin-left: 20px;
        text-align: center;
    }

    .facts-container{
        grid-template-columns:1fr;
        justify-items: center;
        gap: 24px;
    }

    .sponser-companier{
        grid-template-columns: 1fr;
    }
    .sponser-companier{
        justify-items: center;
        gap: 35px;
    }

    .features{
        flex-direction: column;
    }
    #ex-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}