/* setting up font of the full website  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared css styles  */

.display-flex{
    display: flex;
}
/* background colors  */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* all colors  */
.dark-01{
    color: #131313;
}
.dark-02{
    color: rgba(66, 66, 66, 1);
}

.dark-03{
    color: #727272;
}
/* button styles  */
.btn-primary{
    padding: 20px 25px ;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}
/* nav css start  */
.navbar{
    justify-content: space-between;
    align-items: center ;
}
.link-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}
.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner css start  */
.banner-content{
    text-align: center;
    margin-bottom: 60px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    width: 850px;
    margin: 0 auto;
}
.banner-description {
    font-size: 1rem;
    width: 860px;
    margin: 10px auto 0px auto;
}

.btn-primary{
    margin-top: 30px;
}